In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
contacts = pd.read_json('/content/drive/My Drive/contacts.json')
contacts.head(10)

   Id                     Email  ... Contacts                    OrderId
0   0            gkzAbIy@qq.com  ...        1
1   1                            ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                            ...        0
3   3        mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4   4                            ...        2
5   5                            ...        0
6   6  hESiBgYTxMnj@hotmail.com  ...        4
7   7  hqyunTiaXfIjhO@yahoo.com  ...        1  vxjYZtMUvNhtEBDruzQfjpsmX
8   8   XGUjcSiDpFKWEUCs@qq.com  ...        2
9   9    osIIQgAiZX@hotmail.com  ...        0  IqewrMXVTJqSsVklWFfOpdRNI

[10 rows x 5 columns]

In [19]:
import numpy
import datetime
time_start = datetime.datetime.now()

memory = {}
cluster = {}
contacts_dict = {}
result = {}
def add_to_memory(user_id, value):
  if(value != ''):
    if(value in memory):
      memory[value].add(user_id)
      return
    
    memory[value] = {user_id}

def add_to_cluster(user_id, email, phone, orderid, contacts):
  ids = set()
  cluster[user_id] = {100000000}
  if(email in memory and email != ''):
    ids.update(memory[email])
  if(phone in memory and phone != ''):
    ids.update(memory[phone])
  if(orderid in memory and orderid != ''):
    ids.update(memory[orderid])
  for i in ids:
    cluster[user_id].add(i)
  cluster[user_id].remove(100000000)
  contacts_dict[user_id] = {contacts}

for row in contacts.values:
  id = row[0]
  add_to_memory(id, row[4])
  add_to_memory(id, row[1])
  add_to_memory(id, row[2])

for row in contacts.values:
  add_to_cluster(row[0], row[1], row[2], row[4], row[3])

for key, value in cluster.items():
  ids = set(value)
  new_ids = set()
  jumlah_contact = 0
  for id in ids:
    new_ids.update(cluster[id])
  
  susun_string = ""
  for id in sorted(new_ids):
    cluster[id] = sorted(new_ids)

for key, value in cluster.items():
  jumlah_contact = 0
  str_result = ""
  for ids in cluster[key]:
    jumlah = list(contacts_dict[ids])[0]
    jumlah_contact += jumlah
    str_result += str(ids)+'-'
  str_result = str_result[:-1]+", "+str(jumlah_contact)
  result[key] = {str_result}

time_end = datetime.datetime.now()
time_range = time_end - time_start
print("Proses berjalan selama: "+str(time_range))

Proses berjalan selama: 0:00:16.115607

In [12]:
print(result[0])
print(result[1])
print(result[2])
print(result[3])
print(result[4])
print(result[5])
print(result[6])
print(result[7])
print(result[8])
print(result[9])

{'0, 1'}
{'1-2458-98519-115061-140081-165605-476346, 12'}
{'2-159312-322639-348955, 4'}
{'3, 0'}
{'4, 2'}
{'5-50-226720-404324-458692-482810, 15'}
{'6-38-32871-142067-236367, 13'}
{'7, 1'}
{'8-183160-406623, 5'}
{'9-13-16708-33415-343161-417916-468927-484896, 8'}

In [17]:
print(contacts.iloc[1])
print("\n")
print(contacts.iloc[2458])
print("\n")
print(contacts.iloc[98519])
print("\n")
print(contacts.iloc[115061])
print("\n")
print(contacts.iloc[140081])
print("\n")
print(contacts.iloc[165605])
print("\n")
print(contacts.iloc[476346])
print("\n")

Id                                  1
Email
Phone                    329442681752
Contacts                            4
OrderId     vDDJJcxfLtSfkooPhbYnJdxov
Name: 1, dtype: object


Id                               2458
Email            ULziZaVD@hotmail.com
Phone                       069988936
Contacts                            1
OrderId     vDDJJcxfLtSfkooPhbYnJdxov
Name: 2458, dtype: object


Id                              98519
Email            ULziZaVD@hotmail.com
Phone
Contacts                            2
OrderId     mwVhJZGKtahXEdLMwVLcOAxXG
Name: 98519, dtype: object


Id                                  115061
Email       JmMSyjzmxdelSmeAHBUi@yahoo.com
Phone                            069988936
Contacts                                 4
OrderId
Name: 115061, dtype: object


Id                        140081
Email       xXwrpkygOe@yahoo.com
Phone
Contacts                       1
OrderId
Name: 140081, dtype: object


Id                             165605
Email            xXwrpkygOe@yahoo.com
Phone
Contacts                            0
OrderId     mwVhJZGKtahXEdLMwVLcOAxXG
Name: 165605, dtype: object


Id                               476346
Email       WXJDcOYGapCzchhwH@gmail.com
Phone
Contacts                              0
OrderId       vDDJJcxfLtSfkooPhbYnJdxov
Name: 476346, dtype: object